@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #E7E2DD;
  font-size: 35px;
  line-height: 140%;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #E7E2DD;
  font-size: 25px;
  line-height: 140%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.nav-link {
  transition: 0.3s;
}

.header, .main, .footer {
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid white;
  /*background-color: $gray-color;*/
  background-image: url("../assets/img/bg.png");
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.header .header-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 25px 0 0 0;
  background: #383838;
  height: 50px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.header .header-nav a {
  text-decoration: none;
  background: #383838;
  color: #fff;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
  display: block;
  border-right: 1px solid #336666; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.header .header-nav a:hover {
  background: #336666; /*добавляем эффект при наведении*/
}
.header .header-nav li {
  float: left; /*Размещаем список горизонтально для реализации меню*/
}
.header .header-nav .nav-link__lang {
  border-right: none;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  flex-flow: row;
}
@media screen and (max-width: 700px) {
  .main-container {
    flex-flow: column;
  }
}

.main-left {
  background-color: #383838;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 40%;
}
@media screen and (max-width: 700px) {
  .main-left {
    width: 100%;
  }
}
.main-left .main-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 60%;
}
@media screen and (max-width: 700px) {
  .main-left .main-right {
    width: 100%;
  }
}

.section-profile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.section-profile .avatar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.section-profile .avatar img {
  width: auto;
}
.section-profile h1 {
  padding-top: 10px;
}
.section-profile h2 {
  padding-top: 10px;
}

.section-contacts {
  margin-top: 20px;
}
.section-contacts h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-contacts li .linkedin-link, .section-contacts li .discord-link, .section-contacts li .email-link, .section-contacts li .git-link, .section-contacts li .telegram-link, .section-contacts li .locations-link {
  display: flex;
  position: relative;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
.section-contacts li .linkedin-link img, .section-contacts li .discord-link img, .section-contacts li .email-link img, .section-contacts li .git-link img, .section-contacts li .telegram-link img, .section-contacts li .locations-link img {
  width: 40px;
  height: 100%;
}
.section-contacts li .soc-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-contacts li :hover img, .section-contacts li :hover .soc-text {
  filter: opacity(0.5) drop-shadow(0 0 0 #336666);
}
.section-contacts :hover {
  right: 20px;
}

.section-skills h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-skills ul li {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
.section-skills ul li img {
  width: 40px;
  height: 100%;
}
.section-skills ul li p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-languages h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-languages ul li {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: left;
}
.section-languages ul li img {
  width: 40px;
  height: 100%;
}
.section-languages ul li p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-summary {
  display: flex;
  text-decoration: none;
  text-align: center;
}
.section-summary h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-summary p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-right: 10px;
}

.section-education {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  text-align: left;
}
.section-education h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-education p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin: 0;
  padding-right: 10px;
  padding-top: 4px;
}

.section-courses, .section-projects {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  text-align: left;
}
.section-courses h2, .section-projects h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-courses li, .section-courses a, .section-projects li, .section-projects a {
  list-style-type: square;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin: 0;
  padding-right: 10px;
  padding-top: 4px;
}
.section-courses a, .section-projects a {
  text-decoration: none;
  padding: 0;
}

.section-projects a {
  color: #336666;
}

.section-code {
  display: flex;
  flex-flow: column;
  text-decoration: none;
}
.section-code a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  color: #336666;
}
.section-code p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-code h2 {
  text-align: center;
  background-color: #336666;
  margin-left: 20px;
  margin-right: 20px;
}
.section-code code {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #383838;
  opacity: 0.6;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #336666;
  padding-left: 30px;
  padding-right: 30px;
}

.rsschool-logo img {
  height: 50px;
}

.rsschool-logo:hover {
  filter: invert(100%);
}

.my-github {
  display: flex;
  flex-flow: row;
}
.my-github .git-link__container img {
  height: 50px;
  filter: invert(100%);
}
.my-github .git-p__container a {
  text-decoration: none;
}
.my-github .git-p__container p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  padding-left: 10px;
  color: black;
}

.my-github:hover p {
  color: white;
}
.my-github:hover img {
  filter: invert(0%);
}

.copyright span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #E7E2DD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
